@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nova+Square&family=Outfit:wght@500;700&family=Roboto+Condensed:wght@400;625;900&display=swap');
.masterDashBoardContainer{
  font-family: Roboto Condensed;
}
.upperDashboardContainer {
  display: flex;
}

.verticalChartContainer {
  height: 55vh;
  width: 60%;
  padding: 20px;
  padding: 30px;
  margin: 10px 10px 10px 5px;
  position: relative;
}

.totaExpensesVsIncomeAmountperMonth {
  height: 58vh;
  width: 40%;
  max-width: 40%;
  padding: 20px;
  margin: 10px 5px 5px 5px;
  position: relative;
}

.downDashboardContainer {
  display: flex;
}

.pieChartContainer {
  position: relative;
  height: 50vh;
  padding: 30px;
  width: 60%;
  margin: 10px 10px 10px 5px;
}

.lineChartContainer {
  margin: 10px 5px 5px 5px;
  height: 50vh;
  width: 40%;
  position: relative;
  padding: 30px 0;
}

.incomExpanceDividerContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 20%;
  flex-direction: column;
}

.fractionLabel {
  font-size: 40px;
  font-weight: 1000;
}

.fractionValue {
  color: #f1b92c;
}

.incomeFraction {
  margin-left: 40px;
}

.hrCont {
  width: 60%;
  height: 10px;
}

.hrCont > hr {
  height: 2px;
  background-color: black;
}

.headerForBoxes 
{
  position: absolute;
  top: 10px;
  font-size: 20px;
  font-weight: 600;
  left: 10px
  /* padding: 10px; */
}